<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
<% end %>

<%= form_for(@video) do |f|%>
    <%= f.file_field :video_file, :style => "margin: 0 auto;" %>
      <%= f.submit "Upload", :style => "color: black; margin: 0 254px;", :class => "btn btn-primary btn-lg startbtn upload"%>
<% end %>


<!-- <%= form_for(@video) do |f| %> --><!-- 
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> -->
  <!-- <% end %> -->

  <!-- <div class="field"> -->
    <!-- <%= f.label :time_length %><br> -->
    <!-- <%= f.text_field :time_length %> -->
    <!-- <%= f.file_field :video_file, :id => 'upload'%> -->
<!--      <input type="file" id="filename" name="filename">
     <p id="response"></p>
     <div class="loading"></div> -->
<!--   </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>  -->
