<!--|
/ Intro Section
/=========================================================================================|-->
<section id="intro" class="intro-section overlay-black">

  <div class="overlay-inner" style="padding: 50px 0 10px;">
    <div class="container">

      <!--|Site Brand|-->
      <div class="site-brand">
        <!--|Logo|-->
        <a class="fp-logo" href="#">    
        <%= image_tag 'emotize-logo-footer.png' %>
        </a> <!--|End Logo|-->
        <!--|Social links|-->
      </div> <!--|End Site Brand|-->
      <p id="notice"><%= notice %></p>
      <h1 style="font-family: Helvetica Neue; font-size:1.5em ;margin: -50px 0 20px;">RESULTS</h1>
			<iframe src=<%= @video.video_file.url %>  frameborder="0" style="height: 400px;width: 588px;"></iframe>
      <!--|Scroll Down Icon|-->
      <!-- <span class="scroll-down"><i class="ion-ios-arrow-thin-down"></i></span> -->
    </div>
  </div>
</section> <!--|Intro Section|-->

<!-- DYGRAPH ATTEMPT NEEDING CSV -->
<!-- <div id="graphdiv" style="width:700px; height:300px; margin: 0 auto"></div>
<script type="text/javascript">
    var req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (req.readyState == 4) {
        if (req.status === 200 || // Normal http
            req.status === 0) { // Chrome w/ --allow-file-access-from-files
          var data = req.responseText;
          drawGraph(data);
        }
      }
    };
    req.open('GET', 'https://s3-us-west-2.amazonaws.com/emotizecsvfile/emotizecsvfile', true);
    req.send(null);
    var drawGraph = function(data) {
      console.log(typeof(data));
      console.log(data);
      var div = document.getElementById("graphdiv");
      g = new Dygraph(
        div, 
        data,
        {
          legend: 'always',
          animatedZooms: true,
          title: 'Emotional Data',
          drawGrid: false,                     
          axisLineWidth: "0",
          gridLinePattern:[0,1,1],

          xAxisLabelWidth: 80,
          axisLabelFontSize: 12,
          width: 800,
          height: 350,
          xValueFormatter: Dygraph.dateString_,
          xValueParser: function(x) { 
              var m = moment(x, "DD-MM-YYYY HH:mm:ss");
              return m.toDate().getTime();
          },
          xTicker: Dygraph.dateTicker
        }
      );
    }

</script> -->

<!-- HIGHCHARTS ATTEMPT -->
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="highChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<!-- <div id="highChartContainer" style="min-width: 400px; height: 400px; margin: 0 auto"></div> -->
<script type='text/javascript'>
  <% frames = Frame.all %> 
  $(document).ready(function(){

    chart = new Highcharts.Chart({
          chart: {
              type: 'column',
              renderTo: "highChartContainer"
          },
          title: {
              text: 'Stacked column chart'
          },
          xAxis: {
              categories: <%=
                frames.map do |frame| 
                  frame.id
                end 
              %>
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Total fruit consumption'
              }
          },
          tooltip: {
              pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
              shared: true
          },
          plotOptions: {
              column: {
                  stacking: 'percent'
              }
          },
          series: [{
              name: 'Anger',
              data: 
              <%=
                frames.map do |frame| 
                  data_pt = '%.3f' % frame.anger
                  data_pt.to_f
                end 
              %>
          }, {
              name: 'Contempt',
              data: <%=
                frames.map do |frame| 
                  data_pt = '%.3f' % frame.contempt
                  data_pt.to_f
                end 
              %>
          }, {
              name: 'Disgust',
              data: <%=
                frames.map do |frame| 
                  data_pt = '%.3f' % frame.disgust
                  data_pt.to_f
                end 
              %>
          }, {
              name: 'Fear',
              data: <%=
                frames.map do |frame| 
                  data_pt = '%.3f' % frame.fear
                  data_pt.to_f
                end 
              %>
          }, {
              name: 'Happiness',
              data: <%=
                frames.map do |frame| 
                  data_pt = '%.3f' % frame.happiness
                  data_pt.to_f
                end 
              %>
          }, {
              name: 'Neutral',
              data: <%=
                frames.map do |frame| 
                  data_pt = '%.3f' % frame.neutral
                  data_pt.to_f
                end 
              %>
          }, {
              name: 'Sadness',
              data: <%=
                frames.map do |frame| 
                  data_pt = '%.3f' % frame.sadness
                  data_pt.to_f
                end 
              %>
          }, {
              name: 'Surprise',
              data: <%=
                frames.map do |frame| 
                  data_pt = '%.3f' % frame.surprise
                  data_pt.to_f
                end 
              %>
          }]
    });
  });
</script>



<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
