<p id="notice"><%= notice %></p>
<p><%= video_tag(@video.video_file.url) %></p>
<iframe width="500" height="500" src=<%= @video.video_file.url %>  frameborder="0"></iframe>
<p>
  <strong>Time length:</strong>
  <%= @video.time_length %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
